.simple-editor-wrapper {
  width: 100%;
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.simple-editor-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 0.75rem 1rem;
  min-height: 120px;
  outline: none;
}
